<!-- About Section -->
    <section class="success" id="Organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organizers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                 </div>
                <div class="row">
                    <li> <a href="https://anandmishra22.github.io"><font color="white"><u>Anand Mishra</u>, Indian Institute of Science Bangalore, India</a></font></li>
                    <li> <a href="http://talukdar.net/"> <font color="white"><u>Partha Talukdar</u>, Indian Institute of Science Bangalore, India</a></font></li>
                    <li> <a href="https://pouyapez.github.io/"> <font color="white"><u>Pouya Pezeshkpour</u>, Univ. of California
Irvine, CA, USA</font> </a></li>
                    <li> <a href="http://sameersingh.org/"><font color="white"><u>Sameer Singh</u>, Univ. of California
Irvine, CA, USA</font></a> </li>
            </div>
        </div>
    </section>
